<div class="info-container">
  <h2 class="info-header">About Lopes Market</h2>
  <div class="info">
    Created by Phillip Ball, Darnae Simmons, and Thomas Spalango, this project is the milestone of our cloud
    computing class, where our team of three collaborated to develop a website hosted on the
    cloud. Our goal was to integrate cloud technologies to create a scalable and secure web
    application. We used cloud-based hosting services, database management, and authentication systems.
    Throughout this process, we used various cloud computing concepts, including Lambda serverless and
    API gateways reinforcing our understanding of cloud deployment.
  </div>
</div>
<div class="timeline-container">
  <h2 class="info-header">Tech Stack</h2>
  <ul class="timeline">
    <li>
      <span class="dot"></span>
      <div class="content">
        <h3>Frontend</h3>
        <p>Angular, TypeScript, HTML, CSS</p>
      </div>
    </li>
    <li>
      <span class="dot"></span>
      <div class="content">
        <h3>Backend</h3>
        <p>Node.js, Express, MongoDB, AWS Lambda, API Gateway</p>
      </div>
    </li>
    <li>
      <span class="dot"></span>
      <div class="content">
        <h3>Authentication</h3>
        <p>JWT Authentication</p>
      </div>
    </li>
    <li>
      <span class="dot"></span>
      <div class="content">
        <h3>Hosting</h3>
        <p>Cloudflare Pages</p>
      </div>
    </li>
  </ul>
</div>
