:root {
  --colorA: #E3A47D;
  --colorB: #BFD8E4;
  --colorC: #f7f1eb;
  --colorD: #48275c;

  --danger-color: #853840;
  --success-color: #3b6b46;
  --dark-text-color: #323233;
  --light-text-color: #ffffff;
  --background-color: #ffffff;
  --dark-background-color: #000000;

  --main-text-shadow: 0.1rem 0.1rem 0.2rem black;
  --card-shadow:  0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);

  --fs-xxl: 4.5rem;
  --fs-xl: 3.5rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-s:  1.5rem;
  --fs-xs: 1rem;
  background-color: var(--colorC);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
